@import "tailwindcss";

@font-face {
  font-family: "mochia";
  src: url("./assets/mochica-font-1740715024-0/mochica-personal-use-only.otf");
}

@font-face {
  font-family: "resist_bold";
  src: url("./assets/resist-sans-font-family-1740715112-0/trial-resistdisplay-bold.otf");
}

@font-face {
  font-family: "resist_light";
  src: url("./assets/resist-sans-font-family-1740715112-0/trial-resistdisplay-light.otf");
}

@font-face {
  font-family: "resist_medium";
  src: url("./assets/resist-sans-font-family-1740715112-0/trial-resisttext-medium.otf");
}
