@import "tailwindcss";

@font-face {
  font-family: "header";
  src: url(/fonts/meta-futura-font-1743253343-0/meta-futura-demo.otf);
}

@font-face {
  font-family: "text";
  src: url(/fonts/gilroy-free/Gilroy-FREE/Gilroy-Light.otf);
}

@font-face {
  font-family: "text-bold";
  src: url(/fonts/gilroy-free/Gilroy-FREE/Gilroy-ExtraBold.otf);
}
